body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #6441e1;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #6441e1;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-departamento .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

#sobre-a-loja, #cardapio {
    background-color: #fff;
}

.text-colored {
    color: #6441e1;
}

.nav-departamento .nav-link.active,
#fale-conosco button {
    background-color: #6441e1;
    color: #fff;
}

.nav-departamento .nav-link:hover {
    color: #6441e1;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
